h1{
    text-align: center;
    color: coral;
}

body{
    background-color:azure;
    font-family:'Times New Roman';
}

fieldset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    align-items: center;
    background-color: aliceblue;
    border-color: rgb(248, 112, 33);
    box-shadow: 10px 8px rgb(190, 221, 211);
    width: 500px;
}

legend{
    color: coral;
    font-family: 'Courier New';
}

button{
    border-radius: 15px;
}




